<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ejemplo">

    <uses-permission android:name="android.permission.INTERNET" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".RecetaActivity"></activity>
        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AdicinarFarmaciaActivity"
            android:label="@string/title_activity_adicinar_farmacia"></activity>
        <activity
            android:name=".AdicFarmaciaActivity"
            android:label="@string/title_activity_adic_farmacia"></activity>
        <activity
            android:name=".AdiciFarmaceuticoActivity"
            android:label="@string/title_activity_adici_farmaceutico"></activity>
        <activity
            android:name=".EliminaColaboradorActivity"
            android:label="@string/title_activity_elimina_colaborador"></activity>
        <activity
            android:name=".ColaboradoresActivity"
            android:label="@string/title_activity_colaboradores"></activity>
        <activity
            android:name=".RecepcionRecetaActivity"
            android:label="@string/title_activity_recepcion_receta"></activity>
        <activity
            android:name=".FarmaceuticoActivity"
            android:label="@string/title_activity_farmaceutico"></activity>
        <activity android:name=".MainActivity" />
        <activity android:name=".PacientActivity" />
        <activity
            android:name=".WelcomeActivity"
            android:label="@string/title_activity_welcome" />
        <activity
            android:name=".Register_DoctorActivity"
            android:label="@string/title_activity_register__doctor" />
        <activity
            android:name=".ViewDoctorActivity"
            android:label="@string/title_activity_viewDoctor" />
    </application>

</manifest>